body {
	
	margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li a {
  color: #fff;
  text-decoration: none;
}

nav li a:hover {
  color: #fff;
  background-color: #555;
}

.hero {
	background-image: url('lib1.jpg');
	background-position: center;
	background-size: cover;
	height: 600px;
	display: flex;
	align-items: center;
}

.hero h2 {
	font-size: 48px;
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
}

.hero p {
	font-size: 24px;
	margin: 0;
	color: #fff;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
	font-size: 16px;
	margin-top: 20px;
}

.btn:hover {
	background-color: #555;
}

.features {
	padding: 80px 0;
	background-color: #eee;
}

.features h2 {
	font-size: 36px;
	margin-top: 0;
	margin-bottom: 40px;
	text-align: center;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.feature {
	max-width: 350px;
	margin: 0 20px 40px;
	text-align: center;
}

.feature i {
	font-size: 48px;
	margin-bottom: 20px;
	color: #333;
}

.feature h3 {
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 20px;
}

.feature p {
	font-size: 18px;
	margin: 0;
	color: #666;
}

.cta {
	padding: 80px 0;
	background-image: url('lib2.jpg');
	background-position: center;
	background-size: cover;
	color: #fff;
	text-align: center;
}

.cta h2 {
	font-size: 36px;
	margin-top: 0;
	margin-bottom: 40px;
}

.cta p {
	font-size: 24px;
	margin: 0;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px 0;
	text-align: center;
}

footer p {
	font-size: 16px;
	margin: 0;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer li {
	display: inline-block;
	margin-right: 20px;
}

footer li a {
	color: #fff;
	text-decoration: none;
}

footer li a:hover {
	color: #fff;
	text-decoration: underline;
}
